@import url("https://fonts.googleapis.com/css2?family=Geist:wght@100..900&family=Secular+One&display=swap");

:root {
    --primary-darkgray-color: #0A0F14;
    --primary-blue-color: #0E3D46;
    --primary-turquoise-color: #17B2A6;
    --primary-lightgray-color: #E6E9EB;
    --primary-white-color: #fafafa;
}

html {
    background-color: var(--primary-darkgray-color);
    color: var(--primary-white-color);
    font-family: "Geist", sans-serif;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: var(--primary-turquoise-color);
}


/* Top - Bar - Styling */

.nav-top-bar {
    margin: 3rem auto;
    background: var(--primary-blue-color);
    border-radius: 8px;
    width: fit-content;
    padding: 8px;
    anchor-name: --hovered-link;
    
    li:hover {
        anchor-name: --hovered-link;
    }

    &::after {
    content: "";
    content: "";
    position: absolute;
    background-color: var(--primary-lightgray-color);
    left: anchor(left);
    right: anchor(right);
    bottom: anchor(bottom);
    border-radius: 3px;
    height: 6px;

    transition: all 500ms;

    position-anchor: --hovered-link;
}
}


.nav-button {
    background-color: var(--primary-blue-color);
    padding: 1rem;
    font-size: large;
    border-radius: 4px;
    display: block;
}


/* Main - Content - Syling */

.main-content {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

.main-title {
    text-align: center;
}

.main-text {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}