@import url("https://fonts.googleapis.com/css2?family=Jersey+15&family=Poetsen+One&display=swap");

:root {
    --primary-darkgray-color: #0A0F14;
    --primary-blue-color: #0E3D46;
    --primary-turquoise-color: #17B2A6;
    --primary-lightgray-color: #E6E9EB;
    --primary-white-color: #fafafa;

    --background-image: url(../images/una-bg.webp)
}

html {
    background-color: var(--primary-darkgray-color);
    color: var(--primary-white-color);
    font-family: "Poetsen One", sans-serif;
    scroll-behavior: smooth;
    transition-behavior: allow-discrete;
    container-type: scroll-state;
}


ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}

a {
    text-decoration: none;
    color: var(--primary-white-color);
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

p {
    padding: 30px;
}


img {
    display: block;
    align-self: center;
    max-width: 100%;
}


/* Top - Bar - Styling */

.bg-image {
    background-image: var(--background-image);
    background-attachment: fixed;
    background-position: 0px -900px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

.nav-top-bar {
    width: fit-content;
    background: var(--primary-blue-color);
    opacity: 0.8;
    border-radius: 8px;
    padding: 8px;
    isolation: isolate;
    anchor-name: --hovered-link;
    view-timeline-name: --top-bar-watched;
    view-timeline-axis: block;

    li:hover {
        anchor-name: --hovered-link;
    }

    &::before,
    &::after {
        content: "";
        content: "";
        position: absolute;
        top: calc(anchor(bottom) - 8px);
        left: calc(anchor(left) + 0.5rem);
        right: calc(anchor(right) + 0.5rem);
        bottom: calc(anchor(bottom) + 5px);
        border-radius: 3px;
        transition: 500ms linear(0, 0.438 6.3%, 0.769 13.1%, 0.996 20.5%, 1.074 24.5%, 1.13 28.8%, 1.171 35.2%, 1.174 42.6%, 1.152 49.5%, 1.063 67%, 1.026 76.3%, 1.005 86.8%, 1);

        position-anchor: --hovered-link;
    }

    &::before {
        z-index: -1;
        background: rgb(0 0 0 / 0.2);
        backdrop-filter: blur(3px);
    }

    &::after {
        z-index: -2;
        background-image: var(--background-image);
        background-position: 0px -900px;
        background-attachment: fixed;
    }

    &:has(li:hover)::before,
    &:has(li:hover)::after {
        top: anchor(top);
        left: anchor(left);
        right: anchor(right);
        bottom: anchor(bottom);
    }

}


.nav-button {
    padding: 1rem;
    font-size: large;
    border-radius: 4px;
    display: block;
}


/* Main - Content - Syling */

.main-content {
    display: grid;
    margin-bottom: 10px;
    /* height: 100svh; */
    grid-template-columns: repeat(auto-fit,
            minmax(min(16rem, 100%), 1fr));

    opacity: 0;
    transform: translateY(30px);
    transition: all 0.8s ease-out;
}

.main-content.is_visible {
    opacity: 1;
    transform: translateY(0);
}

.page-title {
    text-align: center;
    color: var(--primary-turquoise-color);
}

.text-title-placement {
    margin: 40px;
}

.main-title {
    padding-left: 50px;
}


.main-text {
    position: relative;
    text-align: start;
    align-content: center;
}

.main-image {
    display: grid;
    position: relative;
    place-content: center;
    width: 100%;
    mask-image: linear-gradient(to left, transparent 10%, black 15%, black 85%, transparent 90%), 
    linear-gradient(to bottom, transparent 10%, black 15%, black 85%, transparent 90%);
    mask-composite: intersect;
}

.border-div-top,
.border-div-bottom {
    min-height: 8px;
    min-width: 100%;
    background-image: linear-gradient(70deg, transparent 5%, var(--primary-lightgray-color) 5%, var(--primary-turquoise-color), var(--primary-lightgray-color) 95%, transparent 95%);
}

.border-div-top {
    position: absolute;
    top: 5px;
}

.border-div-bottom {
    position: absolute;
    bottom: 5px;
}

/* Fixed elements - styling */

.back-button {
    height: 0px;
    width: 0px;
    bottom: 5px;
    right: 5px;
    padding: 5px;
    padding-bottom: 10px;

    position: fixed;
    z-index: 2;
    translate: 60px;
    transition: all 0.4s ease;

    font-size: large;

    background-color: var(--primary-blue-color);
    border: 2px inset var(--primary-white-color);
    border-radius: 6px;

    place-content: center;
    text-align: center;

}

.back-button:hover {
    background-color: var(--primary-darkgray-color);
    border-color: var(--primary-turquoise-color);
}

@container scroll-state(scrollable: top) {
    .back-button {
        translate: 0px;
        width: 40px;
        height: 20px;
    }
}


@media (max-width: 900px) {
    .nav-button {
        font-size: small;
    }

    .landing-page {
        height: auto;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        height: auto;
    }

    .main-title {
        padding-top: 10px;
        padding-left: 0px;
        text-align: center;
        font-size: x-large;
    }

    .border-div-bottom {
        display: none;
    }

    p {
        font-size: small;
        text-align: justify;
        padding: 20px;
        clear: both;
    }

}

@media (max-width: 320px) {
    .nav-button {
        font-size: xx-small;
    }

    .main-title {
        padding-left: 0px;
        font-size: medium;
    }

    p {
        font-size: x-small;
    }
}